<div class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://acunmedyaakademi.com">
                    <img class="img-brand d-block mx-auto" src="https://biyoportre.com/wp-content/uploads/2024/05/Acun-Medya-Firma-Biyografisi.jpg" alt="Acun Medya" style="max-width: 150px; height: auto; object-fit: contain;" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://muratyucedag.com/kurumsal-egitimler/">
                    <img class="img-brand d-block mx-auto" src="https://media.licdn.com/dms/image/v2/D4D0BAQEV6blgplECGQ/company-logo_200_200/company-logo_200_200/0/1694069648475?e=2147483647&v=beta&t=oleqRbncLLzmUG9g4kImtssrjACkx1jmQAp8MM8e8-U" alt="Company Logo" style="max-width: 150px; height: auto; object-fit: contain;" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://www.google.com.tr/?hl=tr">
                    <img class="img-brand d-block mx-auto" src="/templates/agency/assets/img/logos/google.svg" alt="Google" style="max-width: 150px; height: auto; object-fit: contain;" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://www.linkedin.com/home/">
                    <img class="img-brand d-block mx-auto" src="https://download.logo.wine/logo/LinkedIn/LinkedIn-Logo.wine.png" alt="LinkedIn" style="max-width: 150px; height: auto; object-fit: contain;" />
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .img-brand {
        transition: transform 0.3s ease; /* Opsiyonel: Hover efekti için */
    }

        .img-brand:hover {
            transform: scale(1.1); /* Opsiyonel: Üzerine gelince hafif büyüme */
        }
</style>