
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 text-lg-start">Telif Hakkı © Web Siteniz 2025</div>
            <div class="col-lg-3 text-lg-start">Distributed By <a href="https://themewagon.com/">Themewagon</a></div>
            <div class="col-lg-3 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://x.com/?lang=tr"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/?locale=tr_TR"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/home"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-3 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Gizlilik Politikası</a>
                <a class="link-dark text-decoration-none" href="#!">Kullanım Şartları</a>
            </div>
        </div>
    </div>
</footer>