
<div class="col-xl-9 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-7">
                    <h5>Ajans Genel Durum</h5>
                    <p class="text-muted">
                        Gösterim: Ocak 2024 - Şubat 2025 <a class="text-muted font-weight-medium pl-2" href="#"><u>Detayları Gör</u></a>
                    </p>
                </div>
                <div class="col-sm-5 text-md-right">
                    <button type="button" class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-primary font-weight-normal">
                        <i class="mdi mdi-download btn-icon-prepend"></i>Raporu İndir
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card mb-3 mb-sm-0">
                        <div class="card-body py-3 px-4">
                            <p class="m-0 survey-head">Toplam Gelir</p>
                            <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                <div>
                                    <h3 class="m-0 survey-value">$15,400</h3>
                                    <p class="text-success m-0">+12% geçen aya göre</p>
                                </div>
                                <div id="incomeChart" class="flot-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-3 mb-sm-0">
                        <div class="card-body py-3 px-4">
                            <p class="m-0 survey-head">Tamamlanan Projeler</p>
                            <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                <div>
                                    <h3 class="m-0 survey-value">28</h3>
                                    <p class="text-success m-0">+3 yeni proje</p>
                                </div>
                                <div id="projectsChart" class="flot-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body py-3 px-4">
                            <p class="m-0 survey-head">Aktif Hizmetler</p>
                            <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                <div>
                                    <h3 class="m-0 survey-value">14</h3>
                                    <p class="text-warning m-0">Devam eden hizmetler</p>
                                </div>
                                <div id="servicesChart" class="flot-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-sm-12">
                    <div class="flot-chart-wrapper">
                        <div id="flotChart" class="flot-chart">
                            <canvas class="flot-base"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <p class="text-muted mb-0">
                        Ajansınızın performansına dair en güncel verileri inceleyin ve büyüme stratejinizi geliştirin. <b>Daha Fazla Bilgi</b>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="mb-0 text-muted">Müşteri Geri Dönüşleri</p>
                    <h5 class="d-inline-block survey-value mb-0"> %92 </h5>
                    <p class="d-inline-block text-success mb-0"> olumlu geri bildirim </p>
                </div>
            </div>
        </div>
    </div>
</div>f